<div class="well">
  <div class="row" >
    <div class="col-xs-3"><h3 style="font-weight: bold">Order id</h3></div>
    <div class="col-xs-3"><h3 style="font-weight: bold">User id</h3></div>
    <div class="col-xs-3"><h3 style="font-weight: bold">Subtotal</h3></div>
    <div class="col-xs-3 text-right"><h3 style="font-weight: bold">Order status</h3></div>
  </div>
</div>
<% @orders.each do |order| %>
    <%= render "order_row", order: order %>
<% end %>
