<div class="well" style="margin-left:9px;margin-right:11px">
  <div class="row">
  <div class="col-xs-3 text-center"><h4>Order id</h4></div>
    <div class="col-xs-3 text-center"><h4 >Subtotal</h4></div>
    <div class="col-xs-3 text-center"><h4>Order status</h4></div>
    <div class="col-xs-3 text-center"><h4>Action</h4></div>
  </div>
  <hr style="border-color: black;">

  <% @orders.each do |order| %>
    <% if order.user_id==current_user.id %>
        <%= render "order_row", order: order %>
    <% end %>
<% end %>
</div>