<% if !@order_item.nil? && @order_item.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @order_item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<% if @order_items.size == 0 %>
    <h1 class="text-center light">
      There are no items in your shopping cart. Please <%= link_to "go back", root_path %> and add some items to your
      cart.
    </h1>
<% else %>
    <% @order_items.each do |order_item| %>

        <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>

    <% end %>
    <div class="well">
      <div class="row text-right">
        <h2>Order subtotal is <%= number_to_currency current_order.subtotal %></h2>
      </div>
    </div>
<% end %>