<div class="shopping-cart">
  <div class="row">
    <div class="col-xs-6"><h2 class="wtext">My current order:</h2></div>

    <div class="col-xs-6 text-right"><h2><%= link_to "My orders", orders_index_path %></h2></div>
  </div>
  <%= render "shopping_cart" %>

</div>