/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.store {

  font-family: 'Times New Roman', cursive;
  color: #ffdd35;
}


.light {
  color: #fbffe3;
}

body {
  background: asset_url('back.jpg');
  background-size: cover;
  background-attachment: fixed;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width:1000px; /* suppose you want minimun width of 1000px */
  width: auto !important;  /* Firefox will set width as auto */
  width:1000px;
}

h2.wtext, .field label,.field em, #flash_alert {
  color: white;
}

.well {
  background-color: rgba(245, 245, 245, 0.75);
}

.main {
  padding-top: 100px;
}

.plants-menu {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
  margin-left: -1px;
  margin-right: -1px;
  padding-bottom: 0px;
  font-size:20px;
}

.plants-menu:hover {
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4));
}


.without_padding{
padding-right:0px;
  padding-left:0px;
}
.without_margin{
   margin-left: 0px;
   margin-right: 0px;
 }

#wrapper {
  min-height: 95%;
  margin-bottom: -30px;
}

* html #wrapper {
  height: 100%;
}
#page-boofer {
  height: 30px;
}

.container{
  min-width:500px;
}
@media (min-width:768px) {
  #header_links {
    width:750px
  }
}
@media (min-width:992px) {
  #header_links {
    width:970px
  }
}
@media (min-width:1200px) {
  #header_links{
    width:1170px
  }
}
#header_links{
padding-right:15px;
  padding-left:15px;
  margin-left: auto;
  margin-right: auto;
}

input#search{
  border-radius: 5px;
}
input.bl:focus{
  border-color: rgba(229, 103, 23, 0.8);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
  outline: 0 none;
}

.header_top{
  background:linear-gradient(to top, rgb(138, 101, 50), rgb(73, 21, 1));
}

#footer{
  color:#690c16;
  padding-left: 10px;
  padding-right: 10px;
}