<div id="products">
  <h2 class="text-center">Products for Sale</h2>

  <div>
    <div class="col-xs-3 ">
      <div class="nav nav-pills nav-stacked " data-spy="affix" data-offset-top="0">

        <div id="first_menu_block">

          <form action="/products" accept-charset="UTF-8" method="get"class="form-search">
          <input name="utf8" type="hidden" value="&#x2713;"/>

          <input type="text" name="search" id="search" placeholder="Search for..."
                 style="padding: 0;height:34px;margin: 0;"
                 class="bl input-medium search-query"/>
          <button type="submit" style="height:34px",class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
          </button>

          </form>

        </div>
        <br>

        <div id="second_menu_block" >
          <%= link_to "Low price (< 3$)", products_index_url+"?price=low", class: "btn btn-default", style: "width:100%;" %>
          <br>
          <%= link_to "High price ( > 3$)", products_index_url+"?price=high", class: "btn btn-default", style: "width:100%;" %>
          <br>
          <br>
          <%= link_to "All prices", products_index_url+"?price=all", class: "btn btn-default", style: "width:100%;" %>


        </div>
      </div>
    </div>
    <div class="col-xs-9 ">
      <% @products.each do |product| %>
          <%= render "product_row", product: product, order_item: @order_item %>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" role="dialog">
  <div class="modal-dialog modal-content modal-header" style="padding:35px 50px;">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4>You must be logged in!</h4>
  </div>
</div>